.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 40px 50px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}
.auth__header {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 40px;
}
.auth__input {
  height: 60px;
  width: 420px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 0px 20px;
}
.auth__input::placeholder {
  color: #d7d7d7;
  font-size: 18px;
}

.auth__input-group {
  display: flex;
  align-items: center;
  position: relative;
}

.pwshow {
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  right: 15px;
  top: 18px;
  color: #34a853;
  font-size: 18px;
}

.auth__submit {
  margin: 20px 0px;
}

.auth__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.auth__toggle span {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.auth__toggle a {
  color: black;
}
